USE [master]
GO
/****** Object:  Database [Sinhvien2K17]    Script Date: 3/17/2020 10:22:09 PM ******/
CREATE DATABASE [Sinhvien2K17]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sinhvien2K17', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Sinhvien2K17.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sinhvien2K17_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Sinhvien2K17_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sinhvien2K17].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sinhvien2K17]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 3/17/2020 10:22:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[lastname] [nvarchar](50) NULL,
	[isAdmin] [bit] NULL,
 CONSTRAINT [PK_Registration_1] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
